body {
    font-family: Verdana, Geneva, sans-serif;
}

h2 {
    margin-left: 50px;
}

li.us {
    width: 500px;
    list-style: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin: 5px;
    background-color: #FCF6CF;
}

li span.us-estimation {
    float: right;
}

li span.us-delete {
    float: right;
}